ghidra_11.0*
/ghidra_11.0*
LLM_CTF_Database
test.sh
/logs
/logs_baseline
/logs_single_executor
/logs_dcipher
/logs_mutil_killchain
/.mutil_killchain_test_output
/.mutil_killchain_test_output_baseline
/.mutil_killchain_test_output_single_executor
/.mutil_killchain_test_output_dcipher
/.mutil_killchain_test_output_mutil_killchain
.mutil_killchain_test_output_opt*
# VSCode 配置
.vscode/

# Python 虚拟环境
.venv/
.pytest_cache/
.selftest_mutil_killchain

__pycache__/
*.py[cod]
*$py.class
Sample_Database
decomp
html/*
LLM_CTF_Dataset_Dev/
myenv
.DS_Store
llm_ctf/.DS_Store
llm_ctf/toolset/.DS_Store
keys.cfg
batch_runs*/